<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jinja2 Loop</title>
</head>
<body>
    <div>
        <h1>Jinja2 Loop Planets</h1>

    {% for planet in planets %}

    <li>{{ planet }}</li>

    {% endfor %}

    <h1>Jinja2 Loop NICs FCOe</h1>

    {% for FCOe in FCOe %}

    <li>{{ FCOe }}</li>

    {% endfor %}



    
 </div>

</body>
</html>