h1 {
    background-color: hsla(300, 100%, 25%, 50%);
    opacity: 50%;
}

.red {
    color: red;
}
#purple {
    color: purple;
}

.container {
    color: orange;
}

.p {
    color: orange;
}
a {
    color: inherit;
}

.inner {
    width: 100px;
    height: 50px;
    background-color: red;
    margin:inherit;
}

.outer {
    background-color: lightcoral;
    margin: 20px;
    padding: 10px;
}
ul li a{
    color: green;
}
dl > dt {
    font-weight: 700;
}

label + input {
    padding: 5px 10px;
}

.list_item {
    font-weight: 600;

}

div ul li {
    font-weight: 400;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 18px;

}
body {
    box-sizing: border-box;
    font-family: sans-serif;
}
.form {
    width: 25rem;
    padding: 1rem 2rem;
    margin: 0 auto;
    color: #f2cc8f;
    background: #3d405b;
    border-radius: 8px;
}
.form__group {
    display: flex;
    flex-direction: column;
}
.form__lable {
    margin-bottom: 0.24rem;
    font-weight: 600;
}
.input {
    font-size: inherit;
    padding: 05.rem 0,75rem;
    background: #eee;
    border: none;
    border-radius: 4px;

}
.button {
    display: block;
    margin: 1.5rem auto 0.5rem auto;
    font-size: 1.1rem;
    padding: 0.5rem 2rem;
    color: #f4f1de;
    background: #e07a5f;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background: #ec8164;
}